/* Generic Padding Helpers 
--------------------------
*/

.pt0 {
    padding-top: 0 !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

.pr0 {
    padding-right: 0 !important;
}

.pl0 {
    padding-left: 0 !important;
}

.pt5 {
    padding-top: 5px !important;
}

.pr5 {
    padding-right: 5px !important;
}

.pl5 {
    padding-left: 5px !important;
}

.pb5 {
    padding-bottom: 5px !important;
}

.pad5 {
    padding: 5px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pr10 {
    padding-right: 10px !important;
}

.pl10 {
    padding-left: 10px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pad10 {
    padding: 10px !important;
}

.pt15 {
    padding-top: 15px !important;
}

.pr15 {
    padding-right: 15px !important;
}

.pl15 {
    padding-left: 15px !important;
}

.pb15 {
    padding-bottom: 15px !important;
}

.pad15 {
    padding: 15px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pr20 {
    padding-right: 20px !important;
}

.pl20 {
    padding-left: 20px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.pad20 {
    padding: 20px !important;
}

.pt25 {
    padding-top: 25px !important;
}

.pr25 {
    padding-right: 25px !important;
}

.pl25 {
    padding-left: 25px !important;
}

.pb25 {
    padding-bottom: 25px !important;
}

.pad25 {
    padding: 25px !important;
}

.pt30 {
    padding-top: 30px !important;
}

.pr30 {
    padding-right: 30px !important;
}

.pl30 {
    padding-left: 30px !important;
}

.pb30 {
    padding-bottom: 30px !important;
}

.pad30 {
    padding: 30px !important;
}

.pt35 {
    padding-top: 35px !important;
}

.pr35 {
    padding-right: 35px !important;
}

.pl35 {
    padding-left: 35px !important;
}

.pb35 {
    padding-bottom: 35px !important;
}

.pad35 {
    padding: 35px !important;
}

.pt40 {
    padding-top: 40px !important;
}

.pr40 {
    padding-right: 40px !important;
}

.pl40 {
    padding-left: 40px !important;
}

.pb40 {
    padding-bottom: 40px !important;
}

.pad40 {
    padding: 40px !important;
}

.pt45 {
    padding-top: 45px !important;
}

.pr45 {
    padding-right: 45px !important;
}

.pl45 {
    padding-left: 45px !important;
}

.pb45 {
    padding-bottom: 45px !important;
}

.pad45 {
    padding: 45px !important;
}

.pt50 {
    padding-top: 50px !important;
}

.pr50 {
    padding-right: 50px !important;
}

.pl50 {
    padding-left: 50px !important;
}

.pb50 {
    padding-bottom: 50px !important;
}

.pad50 {
    padding: 50px !important;
}

.pt55 {
    padding-top: 55px !important;
}

.pr55 {
    padding-right: 55px !important;
}

.pl55 {
    padding-left: 55px !important;
}

.pb55 {
    padding-bottom: 55px !important;
}

.pad55 {
    padding: 55px !important;
}

.pt60 {
    padding-top: 60px !important;
}

.pr60 {
    padding-right: 60px !important;
}

.pl60 {
    padding-left: 60px !important;
}

.pb60 {
    padding-bottom: 60px !important;
}

.pad60 {
    padding: 60px !important;
}

.pt65 {
    padding-top: 65px !important;
}

.pr65 {
    padding-right: 65px !important;
}

.pl65 {
    padding-left: 65px !important;
}

.pb65 {
    padding-bottom: 65px !important;
}

.pad65 {
    padding: 65px !important;
}

.pt70 {
    padding-top: 70px !important;
}

.pr70 {
    padding-right: 70px !important;
}

.pl70 {
    padding-left: 70px !important;
}

.pb70 {
    padding-bottom: 70px !important;
}

.pad70 {
    padding: 70px !important;
}

.pt75 {
    padding-top: 75px !important;
}

.pr75 {
    padding-right: 75px !important;
}

.pl75 {
    padding-left: 75px !important;
}

.pb75 {
    padding-bottom: 75px !important;
}

.pad75 {
    padding: 75px !important;
}

.pt80 {
    padding-top: 80px !important;
}

.pr80 {
    padding-right: 80px !important;
}

.pl80 {
    padding-left: 80px !important;
}

.pb80 {
    padding-bottom: 80px !important;
}

.pad80 {
    padding: 80px !important;
}

.pt85 {
    padding-top: 85px !important;
}

.pr85 {
    padding-right: 85px !important;
}

.pl85 {
    padding-left: 85px !important;
}

.pb85 {
    padding-bottom: 85px !important;
}

.pad85 {
    padding: 85px !important;
}

.pt90 {
    padding-top: 90px !important;
}

.pr90 {
    padding-right: 90px !important;
}

.pl90 {
    padding-left: 90px !important;
}

.pb90 {
    padding-bottom: 90px !important;
}

.pad90 {
    padding: 90px !important;
}

.pt95 {
    padding-top: 95px !important;
}

.pr95 {
    padding-right: 95px !important;
}

.pl95 {
    padding-left: 95px !important;
}

.pb95 {
    padding-bottom: 95px !important;
}

.pad95 {
    padding: 95px !important;
}

.pt100 {
    padding-top: 100px !important;
}

.pr100 {
    padding-right: 100px !important;
}

.pl100 {
    padding-left: 100px !important;
}

.pb100 {
    padding-bottom: 100px !important;
}

.pad100 {
    padding: 100px !important;
}


/* Generic Margin Helpers
------------------------------------
 */

.m-center {
    margin-left: auto !important;
    margin-right: auto !important;
}

.mt0 {
    margin-top: 0px !important;
}

.mr0 {
    margin-right: 0px !important;
}

.ml0 {
    margin-left: 0px !important;
}

.mb0 {
    margin-bottom: 0px !important;
}

.mt5 {
    margin-top: 5px;
}

.mr5 {
    margin-right: 5px;
}

.ml5 {
    margin-left: 5px;
}

.mb5 {
    margin-bottom: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mr10 {
    margin-right: 10px;
}

.ml10 {
    margin-left: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mr15 {
    margin-right: 15px;
}

.ml15 {
    margin-left: 15px;
}

.mb15 {
    margin-bottom: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mr20 {
    margin-right: 20px;
}

.ml20 {
    margin-left: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mr25 {
    margin-right: 25px;
}

.ml25 {
    margin-left: 25px;
}

.mb25 {
    margin-bottom: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mr30 {
    margin-right: 30px;
}

.ml30 {
    margin-left: 30px;
}

.mb30 {
    margin-bottom: 30px;
}

.mt35 {
    margin-top: 35px;
}

.mr35 {
    margin-right: 35px;
}

.ml35 {
    margin-left: 35px;
}

.mb35 {
    margin-bottom: 35px;
}

.mt40 {
    margin-top: 40px;
}

.mr40 {
    margin-right: 40px;
}

.ml40 {
    margin-left: 40px;
}

.mb40 {
    margin-bottom: 40px;
}

.mt45 {
    margin-top: 45px;
}

.mr45 {
    margin-right: 45px;
}

.ml45 {
    margin-left: 45px;
}

.mb45 {
    margin-bottom: 45px;
}

.mt50 {
    margin-top: 50px;
}

.mr50 {
    margin-right: 50px;
}

.ml50 {
    margin-left: 50px;
}

.mb50 {
    margin-bottom: 50px;
}

.mt55 {
    margin-top: 55px;
}

.mr55 {
    margin-right: 55px;
}

.ml55 {
    margin-left: 55px;
}

.mb55 {
    margin-bottom: 55px;
}

.mt60 {
    margin-top: 60px;
}

.mr60 {
    margin-right: 60px;
}

.ml60 {
    margin-left: 60px;
}

.mb60 {
    margin-bottom: 60px;
}

.mt65 {
    margin-top: 65px;
}

.mr65 {
    margin-right: 65px;
}

.ml65 {
    margin-left: 65px;
}

.mb65 {
    margin-bottom: 65px;
}

.mt70 {
    margin-top: 70px;
}

.mr70 {
    margin-right: 70px;
}

.ml70 {
    margin-left: 70px;
}

.mb70 {
    margin-bottom: 70px;
}

.mt75 {
    margin-top: 75px;
}

.mr75 {
    margin-right: 75px;
}

.ml75 {
    margin-left: 75px;
}

.mb75 {
    margin-bottom: 75px;
}

.mt80 {
    margin-top: 80px;
}

.mr80 {
    margin-right: 80px;
}

.ml80 {
    margin-left: 80px;
}

.mb80 {
    margin-bottom: 80px;
}

.mt85 {
    margin-top: 85px;
}

.mr85 {
    margin-right: 85px;
}

.ml85 {
    margin-left: 85px;
}

.mb85 {
    margin-bottom: 85px;
}

.mt90 {
    margin-top: 90px;
}

.mr90 {
    margin-right: 90px;
}

.ml90 {
    margin-left: 90px;
}

.mb90 {
    margin-bottom: 90px;
}

.mt95 {
    margin-top: 95px;
}

.mr95 {
    margin-right: 95px;
}

.ml95 {
    margin-left: 95px;
}

.mb95 {
    margin-bottom: 95px;
}

.mt100 {
    margin-top: 100px;
}

.mr100 {
    margin-right: 100px;
}

.ml100 {
    margin-left: 100px;
}

.mb100 {
    margin-bottom: 100px;
}

.full-height {
    height: 100% !important;
}

.full-width {
    width: 100%;
}

.hide {
    display: none;
}

.inline {
    display: inline-block !important;
}

.block {
    display: block;
}

.b-blank {
    border-color: #000;
}


/* Border Helpers 
------------------------------------
*/

.b-a,
.b-r,
.b-l,
.b-t,
.b-b {
    border-style: solid;
    border-width: 0;
}

.b-r {
    border-right-width: 1px;
}

.b-l {
    border-left-width: 1px;
}

.b-t {
    border-top-width: 1px;
}

.b-b {
    border-bottom-width: 1px;
}

.b-a {
    border-width: 1px;
}

.b-dashed {
    border-style: dashed;
}

.b-thick {
    border-width: 2px;
}

.b-transparent {
    border-color: rgba(0, 0, 0, 0.4);
}

.b-transparent-white {
    border-color: rgba(255, 255, 255, 0.3);
}

.b-grey {
    border-color: #e6e6e6;
}

.b-white {
    border-color: #fff;
}

.b-primary {
    border-color: #6d5cae;
}

.b-complete {
    border-color: #6d5cae;
}

.b-success {
    border-color: #10cfbd;
}

.b-info {
    border-color: #3b4752;
}

.b-danger {
    border-color: #f55753;
}

.b-warning {
    border-color: #f8d053;
}

.b-lite-hi {
    border-color: #e2e5eb;
}

.b-lite-lo {
    border-color: #d3d9e1;
}

.white-txt {
    color: #fff;
}

.left-txt {
    text-align: left !important;
}

.center-txt {
    text-align: center !important;
}

.right-txt {
    text-align: right !important;
}

.fs8 {
    font-size: 8px;
}

.fs9 {
    font-size: 9px;
}

.fs10 {
    font-size: 10px;
}

.fs11 {
    font-size: 11px;
}

.fs12 {
    font-size: 12px;
}

.fs13 {
    font-size: 13px;
}

.fs14 {
    font-size: 14px;
}

.fs16 {
    font-size: 16px;
}

.fs18 {
    font-size: 18px;
}

.fs20 {
    font-size: 20px;
}

.fs24 {
    font-size: 24px;
}

.fs26 {
    font-size: 26px;
}

.fs28 {
    font-size: 28px;
}

.fs30 {
    font-size: 30px;
}

.fs36 {
    font-size: 36px;
}

.fs40 {
    font-size: 40px;
}

.fs50 {
    font-size: 50px;
}

.fs60 {
    font-size: 60px;
}

.fs70 {
    font-size: 70px;
}

.fs80 {
    font-size: 80px;
}

.fs100 {
    font-size: 100px;
}

.fs120 {
    font-size: 120px;
}

.fs150 {
    font-size: 150px;
}

.fs160 {
    font-size: 160px;
}

.fs180 {
    font-size: 180px;
}

.fs200 {
    font-size: 200px;
}


/* Line Height */

.lh10 {
    line-height: 10px;
}

.lh12 {
    line-height: 12px;
}

.lh14 {
    line-height: 14px;
}

.lh16 {
    line-height: 16px;
}

.lh18 {
    line-height: 18px;
}

.lh20 {
    line-height: 20px;
}

.lh24 {
    line-height: 24px;
}

.lh26 {
    line-height: 26px;
}

.lh30 {
    line-height: 30px;
}

.lh40 {
    line-height: 40px;
}

.lh50 {
    line-height: 50px;
}

.lh60 {
    line-height: 60px;
}

.lh70 {
    line-height: 70px;
}

.lh80 {
    line-height: 80px;
}

.lh100 {
    line-height: 100px;
}


/* Image Wrap */

.imgWrap {
    position: relative;
    width: auto;
    height: 100%;
}

.imgWrap.w900 {
    width: 900px;
}

.imgWrap.w880 {
    width: 880px;
}

.imgWrap.w860 {
    width: 860px;
}

.imgWrap.w840 {
    width: 840px;
}

.imgWrap.w820 {
    width: 820px;
}

.imgWrap.w800 {
    width: 800px;
}

.imgWrap.w780 {
    width: 780px;
}

.imgWrap.w760 {
    width: 760px;
}

.imgWrap.w740 {
    width: 740px;
}

.imgWrap.w720 {
    width: 720px;
}

.imgWrap.w700 {
    width: 700px;
}

.imgWrap.w680 {
    width: 680px;
}

.imgWrap.w660 {
    width: 660px;
}

.imgWrap.w640 {
    width: 640px;
}

.imgWrap.w620 {
    width: 620px;
}

.imgWrap.w600 {
    width: 600px;
}

.imgWrap.w500 {
    width: 500px;
}

.imgWrap.w480 {
    width: 480px;
}

.imgWrap.w460 {
    width: 460px;
}

.imgWrap.w440 {
    width: 440px;
}

.imgWrap.w420 {
    width: 420px;
}

.imgWrap.w400 {
    width: 400px;
}

.imgWrap.w380 {
    width: 380px;
}

.imgWrap.w360 {
    width: 360px;
}

.imgWrap.w340 {
    width: 340px;
}

.imgWrap.w320 {
    width: 320px;
}

.imgWrap.w300 {
    width: 300px;
}

.imgWrap.w280 {
    width: 280px;
}

.imgWrap.w260 {
    width: 260px;
}

.imgWrap.w240 {
    width: 240px;
}

.imgWrap.w220 {
    width: 220px;
}

.imgWrap.w200 {
    width: 200px;
}

.imgWrap.w180 {
    width: 180px;
}

.imgWrap.w160 {
    width: 160px;
}

.imgWrap.w140 {
    width: 140px;
}

.imgWrap.w120 {
    width: 120px;
}

.imgWrap.w100 {
    width: 100px;
}

.imgWrap.w90 {
    width: 90px;
}

.imgWrap.w80 {
    width: 80px;
}

.imgWrap.w70 {
    width: 70px;
}

.imgWrap.w60 {
    width: 60px;
}

.imgWrap.w50 {
    width: 50px;
}

.imgWrap.w40 {
    width: 40px;
}

.imgWrap.w30 {
    width: 30px;
}

.imgWrap.w20 {
    width: 20px;
}

.imgWrap.w10 {
    width: 10px;
}

.pop {
    font-family: "Poppins", serif;
}

.meri {
    font-family: "Montserrat", sans-serif;
}
